<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="stylesheetFrontPage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet3' type='text/css'>


    <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>


   
</head>
 <body>
    <nav id="navegador" class="navbar-expand-lg">
        <p class="navbar-brand" href="#">Tropical Agitation</p>
        <div class="collapse " id="navbarText">
              <!-- <a class="nav-link" href="#">HomePage <span class="sr-only">(current)</span></a> -->
          
            <a class="nav-link" href="login_registerbtn.html" target="_self">Login</a>
        </div>
    </nav>
      <div class="container"> 
        <div class="second"> 
          <div> 
           <div class="main_text">  
              <h2><span>
                  <span>
                      <span class="mid_text">Tendress<br>Libertine</span>
                    </span>
                </span><br></h2>
           </div>
           <div>
           <h3><span ><span >Get ready for the best experience in your life</span></span></h3>
           </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">© 2021 by Random dudes for special women</footer>
 </body>

</html>