html , body {
    background-image: url("BackgroundImg.jpg");
    height: 100% ;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
    font-family: 'Lato', sans-serif;
}
#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divz {
    margin: 10%;
}
.d-flex {
    background-color: transparent;
    color: white;
}
.card-body {
    color: white;
    margin: 5%;
}
.imgradius {
    border-radius: 100%;
    padding: 10px;
}
#timeAwait {
    font-size: 50px;
    margin-top: 140%;
}